:root {
  color-scheme: light dark;
  --finance-font-body:
    Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --finance-font-code: ui-monospace, SFMono-Regular, monospace;
  --finance-font-size-2xs: 10px;
  --finance-font-size-xs: 12px;
  --finance-font-size-sm: 14px;
  --finance-font-size-md: 16px;
  --finance-font-size-lg: 18px;
  --finance-font-size-xl: 20px;
  --finance-font-size-2xl: 24px;
  --finance-font-size-3xl: 32px;
  --finance-space-3xs: 2px;
  --finance-space-2xs: 4px;
  --finance-space-xs: 6px;
  --finance-space-s: 8px;
  --finance-space-m: 12px;
  --finance-space-m-l: 16px;
  --finance-space-l: 20px;
  --finance-space-xl: 24px;
  --finance-space-2xl: 32px;
  --finance-space-3xl: 48px;
  --finance-radius-xs: 4px;
  --finance-radius-s: 6px;
  --finance-radius-m: 8px;
  --finance-radius-l: 12px;
  --finance-radius-xl: 16px;
  --finance-radius-3xl: 24px;
  --finance-radius-full: 999px;
  --finance-foreground: #fff;
  --finance-sunk: #f5f5f5;
  --finance-sunk-light: #fafafa;
  --finance-sunk-deep: #ececec;
  --finance-text-neutral-primary: #202020;
  --finance-text-neutral-secondary: #727272;
  --finance-text-neutral-tertiary: #909090;
  --finance-border-default: #e6e6e6;
  --finance-border-interactive: #d4d4d4;
  --finance-border-interactive-emphasis: #777;
  --finance-highlight-subtle: #f2f2f2;
  --finance-highlight-strong: #e8e8e8;
  --finance-inverted-background: #242424;
  --finance-text-accent-primary: #fff;
  --finance-overlay: #0006;
  --finance-text-info-primary: #527daa;
  --finance-text-purple-primary: #987bc1;
  --finance-text-success-primary: #438565;
  --finance-text-alert-primary: #ae802f;
  --finance-text-danger-primary: #bf5050;
  --finance-text-pink-primary: #b56d96;
}
@media (prefers-color-scheme: dark) {
  :root {
    --finance-foreground: #171717;
    --finance-sunk: #202020;
    --finance-sunk-light: #1c1c1c;
    --finance-sunk-deep: #282828;
    --finance-text-neutral-primary: #ededed;
    --finance-text-neutral-secondary: #aaa;
    --finance-text-neutral-tertiary: #888;
    --finance-border-default: #303030;
    --finance-border-interactive: #414141;
    --finance-border-interactive-emphasis: #999;
    --finance-highlight-subtle: #262626;
    --finance-highlight-strong: #343434;
    --finance-inverted-background: #eee;
    --finance-text-accent-primary: #202020;
    --finance-overlay: #0009;
    --finance-text-info-primary: #8baed4;
    --finance-text-purple-primary: #b7a0d9;
    --finance-text-success-primary: #86b79b;
    --finance-text-alert-primary: #cfaa67;
    --finance-text-danger-primary: #e18d8d;
    --finance-text-pink-primary: #ce93b4;
  }
}
